.bo {
    background: rgba(167, 165, 165, 0.925);
}

.profile {
    padding: 80px 0;
}

.card:hover {
    background-color: darkgray;
    transition: 0.7s;
}

.cardh {
    margin-bottom: 1rem;
    min-height: 200px;
    flex-grow: 1;
    height: 100%;
}

.img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}

.text h3 {
    padding: 10px 0;
    text-align: center;
}

.text h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

.but {
    height: 100%;
    margin-bottom: 1rem;
}

.h {
    margin-bottom: 1rem;
}

.btn {
    color: #fff;
    background-color: #d8345a;
    border-color: #ebe9e9d7;
}

.btn:hover {
    background-color: rgb(166, 54, 99);
}

.coloredTab {
    background-color: #d8345a;
}

.hr {
    position: relative;
    top: 20px;
    border: black;
    height: 5rem;
    background: #d8345a;
    margin-bottom: 50px;
}

.tab {
    background: #d8345a;
    color: #fff;
    border-spacing: 1rem;
    border-width: 20px;
    border-color: #fff;
}

.project {
    height: 30px;
}

.navigationBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #97144d;
    height: 80vh;
}

.navLink {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97144d
}

.statement {
    width: 100%;
}

.item {
    background-color: #97144d;
    height: 80px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #97144d;
    width: 100%;
    --bs-nav-link-hover-color: #fff;
    border-top: 2px solid white;
}

.navLength {
    width: 100%;
}

.navTabs Link {
    height: 100px;
}

.navTabs {
    background-color: #97144d;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
    --bs-nav-link-color: white;
    --bs-link-hover-color: #fff;
}

.content {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectDetails {
    background-color: #f6f6f6;
}