body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.productcard {
    width: 20rem;
}

.productcard:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
    padding: 2rem 0 !important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row {
    padding-top: 3rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

/* .card-img-top:hover {
    transform: scale(1.4);
} */

.top-container {
    padding: 2rem;
}

.main-heading {
    padding-bottom: 0rem;
    font-size: 50px;
    padding-left: 8rem;
}

.description {
    padding: 0.4rem 1.9rem;
    padding-left: 8rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    margin-bottom: 0;
}