.login {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 70vh;
  background: url("../Login.png");
  background-size: cover;
  background-position: center;
}

.form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  margin-right: 10rem;
}

.user {
  justify-content: right;
  align-items: center;
}

.heading {
  color: #a4224d;
  text-align: center;
  font-size: 20.8px;
}


.logininput {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 8px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;

}

.formlabel {
  font-size: 14px;
  color: black;
}

.loginbutton {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 3px solid;
  border-color: #97144d;
  background-color: #97144d;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.formerror {
  font-size: 12px;
  color: red;
}

.forgot {
  text-size-adjust: 100;
  font-size: 15px;
}

.forgot a {
  text-size-adjust: 100;
  font-size: 13px;
  color: #a4224d;
}

.new {
  text-size-adjust: 100;
  font-size: 15px;
}

.new a {
  text-size-adjust: 100;
  font-size: 14px;
  color: #a4224d;
}