.details{
    background-color: white;
    height: 34rem;
    width: 60rem;
    box-shadow: 5px 5px #d6d6d6;
    border: 5px solid;
    border-color: #97144d;
    border-radius: 20px;
    text-align: center;
}

.details h5{
    color: black;
}

.heading{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-inline: 100px;
    display: inline-block;
    font-size: larger;
    font-weight: 700;
    justify-content: space-between;
}

.details p{
    display: flex;
   padding: 1em;

}

