.card {
    width: 20rem;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.projectCard {
    justify-content: center;
    padding: 80px;
}

.styling {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {

    align-items: center !important;
    justify-content: center !important;
    display: flex;
    width: 100%;
    color: white !important;
    background-color: #97144d !important;
}

.details {
    
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #a4224d;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #a4224d;
    margin-right: 15px;

}

.btngroup{
    display: inline-block;   
}

.btngroup button{
    width: 96.047px;
    height: 37.5px;
    text-transform: uppercase;
}