.header {
    background-color: #AE275F;
    display: flex;
}

.line {
    height: 1rem;
    background-color: rgb(119, 119, 119);
}

.logo {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.mainlinks {
    margin-left: 2rem;
    align-self: center;
}

.notification {
    width: 3rem;
    text-decoration: none;
    color: lightgray;
    margin-right: 1rem;
}

.notification:hover {
    color: white;
}

.personlinks {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 2rem;
}

.personlink {
    color: white;
    background-color: gray;
    text-align: center;
}

.personlinktext {
    color: white;
}

.personlinktext:hover {
    color: black;
}

.exploreproduct {
    color: white;
    background-color: gray;
    text-align: center;
}

.exploreproducttext {
    color: white;
}

.exploreproducttext:hover {
    color: black;
}